body {
  font-family: Arial, sans-serif;
  padding: 30px;
}

.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, rgb(144, 146, 203) 50%, rgb(177, 208, 228) 50%);
  bottom:0;
  left:-50%;
  opacity:.4;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}

.bg4 {
  animation-duration:3s;
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}

#toastMessage {
  position: absolute;
  display: hidden;
  min-width: 250px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  padding: 20px;
  z-index: 1000;
  right: 5%;
  top: 30px;
  font-size: 17px;
  opacity: 0;
  transition: opacity 0.5s, visibility 0.5s;
  font-family: "Michroma", sans-serif;
    font-weight: 600;
    font-style: normal;
}

#toastMessage.show {
  display: block;
  opacity: 1;
}

#toastMessage.show.success {
  background-color: #123513; /* Green */
  color: antiquewhite;
  font-family: "Michroma", sans-serif;
    font-weight: 600;
    font-style: normal;
    animation: fadeout 5s forwards;
}
#toastMessage.show.error {
  background-color: #781a13; /* Red */
  color: antiquewhite;
  font-family: "Michroma", sans-serif;
    font-weight: 600;
    font-style: normal;
  animation: fadeout 5s forwards;
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
  
}

.form-container {
  background-image: linear-gradient(rgba(176, 233, 217, 0.249), rgba(170, 141, 195, 0.266),rgba(152, 226, 152, 0.359));
  padding: 20px;
  max-width: 400px;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(10, 20, 80, 0.5);
  backdrop-filter: blur(10px);  
}

h2 {
  text-align: center;
  color:rgb(79, 95, 90);
  margin-bottom: 20px;
}

form label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
  color: #37343a;
}

span{
  color: red;
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
  width: 80%;
      padding: 10px ;
      margin: 10px auto ;
      display: block;
      border: 1px solid #ccc;
      border-radius: 10px;
      font-size: 15px;
      background: #f9f9f9;
      transition: all 0.3s ease;
      box-shadow: inset 0 3px 3px rgba(0,0,0,0.1);
    font-family: "Segoe UI";
}

input:focus {
      border-color: #181beb;
      background: #fff;
      outline:#050433;
      box-shadow: 0 0 10px rgba(1, 5, 12, 0.2);
    }

.radio-group {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.radio-group label {
  font-weight: normal;
  color: #0b133a;
}


button {
  display: block;
  margin: 25px auto 0 auto; /* top: 25px, center horizontally */
  width: 40%;
  background-color: #454c9f;
  color: white;
  font-weight: 700;
  border: none;
  padding: 12px;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
}

button:hover {
  background-color: white;
  color: #0a126f;
  font-weight: 700;
}

p{
  text-align: center;
  font-size: 15px;

}
a{
  color:rgb(17, 5, 105);
  font-weight: 700;
  text-decoration: none;
}
a:hover{
  color:indigo;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 3px;
  display: block;
  height: 18px;
}